*.o
*~
*.info
*.info-*
*.tgz
*.deps
*.a
autom4te*
*.log
ana
anap
test_XYZ_eclipticPrecession
config.h
config.status
configure.notes
configure.scan
config.h.in.base
libsofa_c.a
sofa.h
sofam.h
doc/
ana.aux
ana.cp
ana.cps
ana.dvi
ana.fn
ana.ky
ana.pdf
ana.pg
ana.toc
ana.tp
ana.vr
*.bck
